.navbar {
  position: relative;
  width: 100%;
  min-height: 3.5rem;
}
.page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.page-content .content-head {
  display: flex;
  align-items: center;
  min-height: 2.25rem;
  margin: 0 0 1rem;
}
.page-content .content-deck {

}

.card {
  margin-bottom: 1.25rem;
  box-shadow: rgba(53,64,82,.04) 0 2px 4px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 3px;
}
.card .card-inner {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
